* {
  box-sizing: border-box;
}

div {
  min-height: 100px;
  min-width: 100px;
  border: 1px solid black;
  margin: 5px;
}

.meier {
  background: blue;
}

.huber {
  background: red;
}

#lisa {
  background: yellow;
}

#luis {
  background: green;
}

.huber div{
  background: pink;
}

#susi.meier{
  background: blue;
}

#brigitte {
  background: grey;
}

.meier #brigitte {
  background: orange;
}

.meier div#brigitte {
  background: lightblue;
}
